name: task_manager_api
services:
  database:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_DB: $DB_NAME
    volumes:
      - db-data:/var/lib/postgresql

  api:
    build:
      context: .
      target: development
    volumes:
      - ./:/home/app
      - /home/app/node_modules
    ports:
      - $PORT:$PORT
    environment:
      DB_HOST: database
    env_file:
      - .env
volumes:
  db-data:
